{% extends 'incl/base_log.html' %}
{% load static %}

{% block content %}
    <div class="col-8">
        <div class="row title">
            <div class="col-4">
                <h3>New question</h3>
            </div>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Title</label>
            <input type="email" class="form-control" id="exampleFormControlInput1"
                   placeholder="How to build a moon park?">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Text</label>
            <textarea placeholder="Really, how can i do it?" style="height: 300px" class="form-control"
                      id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Tags</label>
            <input type="email" class="form-control" id="exampleFormControlInput2" placeholder="bebra, perl, gg ">
        </div>
        <div class="row">
            <div class="d-grid gap-2 d-md-block">
                <button class="btn btn-primary" type="button">Ask</button>
            </div>
        </div>
    </div>
{% endblock content %}
